/* Info: Login */

@media only screen and (max-width: 564px) {
    .wrapper {
        padding: 20px;
    }
    .login-box {
        padding: 7.5em 1.5em 4em 1.5em;
    }
}

/* Info: Contact */

@media (max-width: 360px) {

    .contact-section {
      text-align: center;
    }
    .contact-map {
      width: 100vh;
    }
    .contact {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  
  }