@media (max-width: 768px) {
  .header-content {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
    gap: 20px;
  }

  .text-section h1 {
    font-size: 2.5rem;
    max-width: 100%;
  }

  .image-placeholder img {
    display: none;
  }
}

/* @media (max-width: 990px) {
  .image-placeholder img {
    display: none;
  }
} */

@media (max-width: 360px) {
  .cortes h2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .agendamento-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 20px;
    gap: 25px;
  }

  .agendamento-image img {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .contact {
    display: block;
    text-align: center;
    padding: 20px;
    gap: 20px;
  }

  .contact-map,
  .contact-form {
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }

  .contact-map iframe {
    width: 100%;
    margin: 0;
  }

  .contact-form form {
    padding: 10px;
    margin-left: 0;
  }
}

@media (max-width: 564px) {
  .footer .social,
  .footer .list {
    flex-direction: column;
    align-items: center;
  }

  .footer .list li {
    margin: 10px 0;
  }
}

@media (max-width: 360px) {
  .text-section h1 {
    max-width: 100%;
  }

  .contact-section .heading {
    font-size: 3.5rem;
  }

  .contact {
    display: block;
    gap: 1rem;
    padding: 0 5px;
  }

  .contact-map iframe {
    width: 100%;
    height: 250px;
    margin-left: 0;
  }

  .contact-map div {
    font-size: 0.9em;
    padding: 5px;
  }

  .contact-form form {
    padding: 0;
    margin-left: 0;
  }

  .container-cards {
    width: 100%;
  }

  .contact-form .form-group {
    width: 100%;
    padding: 0;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 0.9em;
    padding: 8px;
  }

  .form-group button {
    padding: 8px 10px;
  }
}

@media (max-width: 428px) {
  .contact-section h2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .form-group {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
  }

  .contact-form form {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .contact-map iframe {
    width: 100%;
    margin-left: 0;
    height: 250px;
  }

  .contact-form form {
    margin-left: 0;
    padding: 10px;
  }
}
