@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --bg-color: #000000;
  --second-bg-color: #caff0c;
  --third-bg-color: #ffffff;
  --text-color: #ffffff;
  --main-color: rgb(235, 255, 52);
  --hover-color: #ffffff;
  --gradient-bg: linear-gradient(126deg, var(--main-color), var(--bg-color));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Nunito Sans", "Anek Devanagari", sans-serif;
}

/* header */

header {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 265px;
  background-position: center;
}

.header {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  margin-left: 0.2rem;
  color: var(--main-color);
  transition: 0.1s ease-in;
}

.nav-links a:hover {
  color: var(--text-color);
  cursor: pointer;
  border-bottom: 3px solid var(--main-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.text-section {
  font-size: 20px;
  max-width: 750px;
  padding-right: 20px;
}

.text-section h1 {
  margin-bottom: 5px;
  font-family: Anek Devanagari;
}

.text-section p {
  font-family: Nunito Sans;
}

.image-placeholder img {
  width: 160px;
  height: 160px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-top: -20px;
  margin-right: 50px;
}

span {
  color: var(--main-color);
}

.container {
  margin: auto;
  width: 100%;
  min-width: 360px;
  max-width: 1280px;
}
/* section cortes */
