:root {
  --bg-color: #000000;
  --second-bg-color: #caff0c;
  --third-bg-color: #ffffff;
  --text-color: #ffffff;
  --main-color: rgb(235, 255, 52);
  --hover-color: #d40303;
  --gradient-bg: linear-gradient(126deg, var(--main-color), var(--bg-color));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Nunito Sans", "Anek Devanagari", sans-serif;
}

/* header */

header {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 185px;
  background-position: center;
}

.header {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: var(--main-color);
  text-decoration: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  
}

.text-section {
  max-width: 60%;
  padding-right: 20px;
}

.text-section h1 {
  margin-bottom: 20px;
}

.image-placeholder {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 50%;
  background-image: url(../images/nmb.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-top: -20px;
}

/* section cortes */